body {
  display: flex;
  justify-content: center;
  padding: 0px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100%;
  box-sizing: border-box;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4F46E5;
}

.close-x {
  color: #fffafa;
}

.card h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fffafa;
}

.window-dots {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.red {
  background-color: #ff5f57;
}

.orange {
  background-color: #ffbd2e;
}

.green {
  background-color: #28c940;
}

.close-x {
  margin-left: 8px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}