@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

body {
  font-family: var(--tl-font-sans);
  background-color: var(--tl-color-bg-app);
  color: var(--tl-color-text-main);
}
