:root {
  --bg-dark: #0f172a;
  --bg-light-gray: #d1d5db;
  --primary-blue: #4f46e5;
  --text-white: #ffffff;
  --card-unverified: #fef3c7;
  --card-fake: #fee2e2;
  --card-fact: #d1fae5;

  --nav-bg: #1e1b4b;
  --bg-app: #f4f6f8;

  --primary-hover: #4338ca;
  --text-main: #111827;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;

  --misleading-text: #b45309;
  --misleading-bg: #fffbeb;
  --misleading-border: #f59e0b;

  --unverified-text: #4b5563;
  --unverified-bg: #f9fafb;
  --unverified-border: #9ca3af;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-white);
}