:root {
  --bg-dark: #0f172a;
  --bg-light-gray: #d1d5db;
  --primary-blue: #4f46e5;
  --text-white: #ffffff;
  --card-unverified: #fef3c7;
  --card-fake: #fee2e2;
  --card-fact: #d1fae5;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-white);
}
